BMIService_SOAP/BMIClient/Connected Services/BMIServiceReference/BMIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MyBMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyBMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MyBMIResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyHealth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyHealthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyHealthResult" type="tns:Health" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Health">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bmi" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="risk" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="more" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MyBMISoapIn">
    <wsdl:part name="parameters" element="tns:MyBMI" />
  </wsdl:message>
  <wsdl:message name="MyBMISoapOut">
    <wsdl:part name="parameters" element="tns:MyBMIResponse" />
  </wsdl:message>
  <wsdl:message name="MyHealthSoapIn">
    <wsdl:part name="parameters" element="tns:MyHealth" />
  </wsdl:message>
  <wsdl:message name="MyHealthSoapOut">
    <wsdl:part name="parameters" element="tns:MyHealthResponse" />
  </wsdl:message>
  <wsdl:portType name="BMIServiceSoap">
    <wsdl:operation name="MyBMI">
      <wsdl:input message="tns:MyBMISoapIn" />
      <wsdl:output message="tns:MyBMISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MyHealth">
      <wsdl:input message="tns:MyHealthSoapIn" />
      <wsdl:output message="tns:MyHealthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BMIServiceSoap" type="tns:BMIServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyBMI">
      <soap:operation soapAction="http://tempuri.org/MyBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyHealth">
      <soap:operation soapAction="http://tempuri.org/MyHealth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BMIServiceSoap12" type="tns:BMIServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyBMI">
      <soap12:operation soapAction="http://tempuri.org/MyBMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyHealth">
      <soap12:operation soapAction="http://tempuri.org/MyHealth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BMIService">
    <wsdl:port name="BMIServiceSoap" binding="tns:BMIServiceSoap">
      <soap:address location="https://localhost:44379/BMIService.asmx" />
    </wsdl:port>
    <wsdl:port name="BMIServiceSoap12" binding="tns:BMIServiceSoap12">
      <soap12:address location="https://localhost:44379/BMIService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>